.shopping-cart-container {
  position: absolute;
  right: 0px;
}

.cart-count {
  font-size: 2rem;
  position: absolute;
  right: 135px;
  top: 125px;
  color: #2e5f21;
  background-color: white;
  width: 40px;
  text-align: center;
  border-radius: 50%;
}

.cart-count.shrink {
  opacity: 0;
  pointer-events: none;
}

.shopping-cart-container .cart-icon {
  height: 120px;
  margin: 50px 40px 70px;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.cart-icon.shrink {
  opacity: 0;
  pointer-events: none;
}
