.item-container {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 270px;
  min-width: 270px;
  height: 400px;
  margin: 20px;
  border-radius: 20px;
}

.item-container img {
  padding: 20px 0px;
  max-width: 250px;
  max-height: 250px;
}

.item-container h3 {
  font-size: 1.5rem;
  color: rgb(224, 224, 224);
}

.item-container p {
  font-size: 1.5rem;
  margin-top: 5px;
}

.item-container span {
  margin: 0px 10px;
}

.item-container .total-p {
  color: rgb(93, 185, 93);
}
